<app-add-appointment
  (onAddAppointment)="addAppointment($event)"
></app-add-appointment>
<mat-expansion-panel
	[expanded]="isExpanded"
	(opened)="isExpanded = true"
	(closed)="isExpanded = false"
>
	<mat-expansion-panel-header>
		<mat-panel-title>
			<app-user-info
				[name]="user.name"
				[pet]="user.petType"
				[userId]="user.id"
			>
			</app-user-info>
		</mat-panel-title>
	</mat-expansion-panel-header>
	<div>
		<app-appointment-item
			*ngFor="let appointment of appointments" [appointment]="appointment"
			[userId]="user.id"
			[isAdmin]="isAdmin"
			(onDeleteAppointment)="deleteAppointment(appointment)"
			(onToggleReminder)="toggleReminder(appointment)"
			(onAddNote)="addNote($event)"
		></app-appointment-item>
	</div>
</mat-expansion-panel>

<!--	(userInfoClick)="toggleShowAppointments($event)"-->

