header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 3.5em;
  transform: rotate(-20deg);
  transition: all .2s ease-in-out;
}

.logo:hover {
  /*animation: rotation 6s infinite linear;*/
  transform: scale(1.1);
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}



/*@keyframes rotation {*/
/*  from {*/
/*    transform: rotate(-20deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(20deg);*/
/*  }*/
/*}*/
