<div
  [ngClass]="{reminder: appointment.reminder}"
  class="task"
  (dblclick)="onToggle(appointment)"
  >
  <h3>
    {{ appointment.text }}
    <fa-icon *ngIf="!isAdmin"
      class="icon"
      (click)="onDelete(appointment)"
      [ngStyle]="{'color': 'darkred'}"
      [icon]="faTimes">
    </fa-icon>
    <fa-icon *ngIf="isAdmin"
      class="icon"
      (click)="toggleShowAddNote()"
      [icon]="faEdit"
    ></fa-icon>
  </h3>
  <p class="time">{{ appointment.day }}</p>
  <div class="note-container">
    <p class="note" *ngIf="appointment.note">{{ appointment.note }}</p>
  </div>
  <app-add-note
    [isAdmin]="isAdmin"
    [appointment]="appointment"
    (onAddNote)="onAddNoteTo($event)"
  ></app-add-note>
</div>


<!--, hidden: userId === idOfSelectedUser && !showAppointments-->